<div class="header">
	<h1>Katie Hoffman&#32;
</h1>

<span class= "links">
		<a class="blue" href = "http://github.com/kthffmn" target="_blank"><i class="fa fa-long-arrow-right fa-1x right_space top_space"></i></a>
		<a class="white" href = "http://github.com/kthffmn" target="_blank"><i class="fa fa-github-square fa-1x right_space top_space"></i></a>
		<a class="white" href = "http://www.linkedin.com/in/kthffmn/" target="_blank"><i class="fa fa-linkedin-square fa-1x right_space top_space"></i></a>
		<a class="white" href = "http://flatironbk.tumblr.com/" target="_blank"><i class="fa fa-tumblr-square fa-1x right_space top_space"></i></a>
		<a class="white" href = "http://twitter.com/kt_hffmn/" target="_blank"><i class="fa fa-twitter-square fa-1x right_space top_space"></i></a>
		<a class="white" href = "http://instagram.com/kt_hffmn/" target="_blank"><i class="fa fa-instagram fa-1x right_space top_space"></i></a>
		<a class="white" href = "mailto:ktahoffman@gmail.com.info?subject=Hello!" target="_blank"><i class="fa fa-envelope fa-1x right_space top_space"></i></a>
</span>
</div>

<div class = "about" >
	<h2>About</h2>
	<p>I'm a <a href="http://bk.flatironschool.com/">Web Development Fellow</a> at <a href="http://flatironschool.com/">The Flatiron School</a> where I'm studying Ruby, Rails, Sinatra, and Javascript. My background is in early childhood education and I hold a BA in psychology from Columbia University. Though Brooklyn-based, I hail from Denver, CO and accidentally refer to the region as the west coast, instead of the west, because words just sound better when “coast” follows themcoast.</p>
</div>

<div class=projects>
	<div calss=project-header>
		<h2>Projects<h2>
	</div>
	<span>
	<table>
		<tr>
			<td><a class="light-gray" href = "http://kthffmn.github.io/sphearical/" target="_blank"><i class="fa fa-music fa-2x right_space top_space"></i></a></td>
			<td><a class="dark-gray" href = "http://twidder.herokuapp.com/" target="_blank"><i class="fa fa-pencil fa-2x right_space top_space"></i></a></td>
			<td><a class="light-gray" href = "http://game-0f-life.herokuapp.com/" target="_blank"><i class="fa fa-bug fa-2x right_space top_space"></i></a></td>
			<td><a class="dark-gray" href = "http://game-rock-paper-scissors.herokuapp.com/play.html" target="_blank"><i class="fa fa-scissors fa-2x right_space top_space"></i></a></td>
			<td><a class="light-gray" href = "http://birthday-calculator.herokuapp.com/" target="_blank"><i class="fa fa-calendar-o fa-2x right_space top_space"></i></a></td>
			<td><a class="dark-gray" href = "http://pig-latin-translator.herokuapp.com/" target="_blank"><i class="fa fa-book fa-2x right_space top_space"></i></a></td>
			<td><a class="light-gray" href = "http://mazesolver.herokuapp.com/" target="_blank"><i class="fa fa-key fa-2x right_space top_space"></i></a></td>
			<td><a class="dark-gray" href = "http://magic-eight-ball.herokuapp.com/" target="_blank"><i class="fa fa-circle fa-2x right_space top_space"></i></a></td>
			<td><a class="light-gray" href = "http://palindromefinder.herokuapp.com/" target="_blank"><i class="fa fa-search fa-2x right_space top_space"></i></a></td>
			<td><a class="dark-gray" href = "http://jb-memory-game.herokuapp.com/" target="_blank"><i class="fa fa-lightbulb-o fa-2x right_space top_space"></i></a></td>
		</tr>
		<tr>
			<td><a class="light-gray" href = "http://kthffmn.github.io/sphearical/">Sphearical</a></td>
			<td><a class="dark-gray" href = "http://twidder.herokuapp.com/">Twidder</a></td>
			<td><a class="light-gray" href = "http://game-0f-life.herokuapp.com/">Game of Life</a></td>
			<td><a class="dark-gray" href = "http://game-rock-paper-scissors.herokuapp.com/play.html">Rock Paper Scissors</a></td>
			<td><a class="light-gray" href = "http://birthday-calculator.herokuapp.com/">Birthday Calculator</a></td>
			<td><a class="dark-gray" href = "http://pig-latin-translator.herokuapp.com/">Pig Latin Translator</a></td>
			<td><a class="light-gray" href = "http://mazesolver.herokuapp.com/">Maze Solver</a></td>
			<td><a class="dark-gray" href = "http://magic-eight-ball.herokuapp.com/">Magic 8-Balll</a></td>
			<td><a class="light-gray" href = "http://palindromefinder.herokuapp.com/">Palindrome Finder</a></td>
			<td><a class="dark-gray" href = "http://jb-memory-game.herokuapp.com/">Memory Game</a></td>
		</tr>
	</table>
	</span>
</div>