<div class="loveontop">
	<div class="katieyo lobster">
		<h1>Katie Hoffman</h1>
	</div>
	<div class="links white">
		<a href = "http://github.com/kthffmn" target="_blank"><i class="fa fa-github-square fa-1x right_space top_space"></i></a>
		<a href = "http://www.linkedin.com/in/kthffmn/" target="_blank"><i class="fa fa-linkedin-square fa-1x right_space top_space"></i></a>
		<a href = "http://kthffmn.github.io/" target="_blank"><i class="fa fa-pencil-square fa-1x right_space top_space"></i></a>
		<a href = "http://twitter.com/kt_hffmn/" target="_blank"><i class="fa fa-twitter-square fa-1x right_space top_space"></i></a>
		<a href = "http://instagram.com/kt_hffmn/" target="_blank"><i class="fa fa-instagram fa-1x right_space top_space"></i></a>
		<a href = "mailto:ktahoffman@gmail.com.info?subject=Hello!" target="_blank"><i class="fa fa-envelope fa-1x right_space top_space"></i></a>
	</div> <!-- end links in loveontop  -->
</div> <!-- end loveontop  -->

<div class="about rectangle">
	<h2 class="headerz lobster">About</h2>
	<p>A full stack web developer and <a href="http://flatironschool.com/">Flatiron School</a> <a href="http://bk.flatironschool.com/">Fellowship</a> alumn, I work with Ruby, Rails, Sinatra, and JavaScript. My background is in early childhood education and I hold a BA in psychology from Columbia University, Barnard College. Though Brooklyn-based, I hail from Denver, CO and accidentally refer to the region as the west coast, instead of the west, because words just sound better when “coast” follows themcoast.</p>
</div>

<div class="projects rectangle">
	<h2 class="headerz pro lobster">Projects</h2>

	<div class="project">
		<a href = "http://twidder-app.com" target="_blank">
			<div class="iconz">
				<i class="fa fa-bell-o fa-2x right_space top_space"></i>
			</div>
			<div class="titlez">
				Twidder
			</div>
		</a>
		<div class="downarrow"><i class="fa fa-angle-double-down fa-2x"></i></div>
		<div class="descriptionz">
			<div class="github">
				<a class="code" href ="https://github.com/kthffmn/twidder_app"><i class="fa fa-code"></i></a>
			</div>
			<div class="skillz">
				Rails, Aspell, Gingerice, Nokogiri, Photoshop, Bootstrap
			</div>
		</div>
	</div>

	<div class="project">
		<a href = "http://www.opengovtimeline.com/" target="_blank">
			<div class="iconz">
				<i class="fa fa-gavel fa-2x right_space top_space"></i>
			</div>
			<div class="titlez">
				BetaNYC
			</div>
		</a>
		<div class="downarrow"><i class="fa fa-angle-double-down fa-2x"></i></div>
		<div class="descriptionz">
			<div class="github">
				<a class="code" href ="https://github.com/BetaNYC/nyc-open-government-timeline"><i class="fa fa-code"></i></a>
			</div>
			<div class="skillz">
				Rails, d3, Angular, Bootstrap
			</div>
		</div>
	</div>

	<div class="project">
		<a href = "http://kthffmn.github.io/sphearical/" target="_blank">
			<div class="iconz">
					<i class="fa fa-globe fa-2x right_space top_space"></i>
			</div>
			<div class="titlez">
				Sphearical
			</div>
		</a>
		<div class="downarrow"><i class="fa fa-angle-double-down fa-2x"></i></div>
		<div class="descriptionz">
			<div class="github">
				<a class="code" href ="https://github.com/kthffmn/sphearical"><i class="fa fa-code"></i></a>
			</div>
			<div class="skillz">
				d3, Spotify API, TopoJSON 
			</div>
		</div>
	</div>

	<div class="project">
		<a href = "http://twidder.herokuapp.com/" target="_blank">
			<div class="iconz">
				<i class="fa fa-pencil fa-2x right_space top_space"></i>
			</div>
			<div class="titlez">
				Twidderp
			</div>
		</a>
		<div class="downarrow"><i class="fa fa-angle-double-down fa-2x"></i></div>
		<div class="descriptionz">
			<div class="github">
				<a class="code" href ="https://github.com/kthffmn/twidderp"><i class="fa fa-code"></i></a>
			</div>
			<div class="skillz">
				Sinatra, Nokogiri, Photoshop
			</div>
		</div>
	</div>

	<div class="project">
		<a href = "http://biography-generator.herokuapp.com/" target="_blank">
			<div class="iconz">
				<i class="fa fa-cog fa-2x right_space top_space"></i>
			</div>
			<div class="titlez">
				Biography Generator
			</div>
		</a>
		<div class="downarrow"><i class="fa fa-angle-double-down fa-2x"></i></div>
		<div class="descriptionz">
			<div class="github">
				<a class="code" href ="https://github.com/kthffmn/biography-generator"><i class="fa fa-code"></i></a>
			</div>
			<div class="skillz">
				Manual OAuth Flow, Semantic Algorithm
			</div>
		</div>
	</div>

	<div class="project">
		<a href = "http://tic-tac-toe-minimax.herokuapp.com/" target="_blank">
			<div class="iconz">
				<i class="fa fa-gamepad fa-2x right_space top_space"></i>
			</div>
			<div class="titlez">
				Tic Tac Toe
			</div>
		</a>
		<div class="downarrow"><i class="fa fa-angle-double-down fa-2x"></i></div>
		<div class="descriptionz">
			<div class="github">
				<a class="code" href="https://github.com/kthffmn/tic-tac-toe-online"><i class="fa fa-code"></i></a>
			</div>
			<div class="skillz">
				Minimax algorithm, Sinatra
			</div>		
		</div>
	</div>

	<div class="project">
		<a href = "http://www.pig-latin.com/" target="_blank">
			<div class="iconz">
				<i class="fa fa-book fa-2x right_space top_space"></i>
			</div>
			<div class="titlez">
				Pig Latin Translator
			</div>
		</a>
		<div class="downarrow"><i class="fa fa-angle-double-down fa-2x"></i></div>
		<div class="descriptionz">
			<div class="github">
				<a class="code" href ="https://github.com/kthffmn/pig_latin_translator"><i class="fa fa-code"></i></a>
			</div>
			<div class="skillz">
				Sinatra, d3
			</div>
		</div>
	</div>

	<div class="project">
		<a href = "http://jb-memory-game.herokuapp.com/" target="_blank">
			<div class="iconz">
				<i class="fa fa-lightbulb-o fa-2x right_space top_space"></i>
			</div>
			<div class="titlez">
				Memory Game
			</div>
		</a>
		<div class="downarrow"><i class="fa fa-angle-double-down fa-2x"></i></div>
		<div class="descriptionz">
			<div class="github">
				<a class="code" href ="https://github.com/kthffmn/memory_game"><i class="fa fa-code"></i></a>
			</div>
			<div class="skillz">
				Sinatra, jQuery
			</div>		
		</div>
	</div>

	<div class="project">
		<a href = "http://game-0f-life.herokuapp.com/" target="_blank">
			<div class="iconz">
				<i class="fa fa-bug fa-2x right_space top_space"></i>
			</div>
			<div class="titlez">
				Game of Life
			</div>
		</a>
		<div class="downarrow"><i class="fa fa-angle-double-down fa-2x"></i></div>
		<div class="descriptionz">
			<div class="github">
				<a class="code" href ="https://github.com/kthffmn/game_of_life"><i class="fa fa-code"></i></a>
			</div>
			<div class="skillz">
				Sinatra, added age visualization
			</div>
		</div>
	</div>

	<div class="project">
		<a href = "http://game-rock-paper-scissors.herokuapp.com/play.html" target="_blank">
			<div class="iconz">
					<i class="fa fa-scissors fa-2x right_space top_space"></i>
			</div>
			<div class="titlez">
					Rock Paper Scissors
			</div>
		</a>
		<div class="downarrow"><i class="fa fa-angle-double-down fa-2x"></i></div>
		<div class="descriptionz">
			<div class="github">
				<a class="code" href ="https://github.com/kthffmn/rock_paper_scissors"><i class="fa fa-code"></i></a>
			</div>
			<div class="skillz">
				Sinatra
			</div>
		</div>
	</div>

	<div class="project">
		<a href = "http://birthday-calculator.herokuapp.com/" target="_blank">
			<div class="iconz">
				<i class="fa fa-calendar-o fa-2x right_space top_space"></i>
			</div>
			<div class="titlez">
				Birthday Calculator
			</div>
		</a>
		<div class="downarrow"><i class="fa fa-angle-double-down fa-2x"></i></div>
		<div class="descriptionz">
			<div class="github">
				<a class="code" href ="https://github.com/kthffmn/birthday_calculator"><i class="fa fa-code"></i></a>
			</div>
			<div class="skillz">
				Sinatra, jQuery
			</div>
		</div>
	</div>

	<div class="project">
		<a href = "http://mazesolver.herokuapp.com/" target="_blank">
		<div class="iconz">
			<i class="fa fa-key fa-2x right_space top_space"></i>
			</div>
			<div class="titlez">
				Maze Solver
			</div>
		</a>
		<div class="downarrow"><i class="fa fa-angle-double-down fa-2x"></i></div>
		<div class="descriptionz">
			<div class="github">
				<a class="code" href ="https://github.com/kthffmn/maze_solver"><i class="fa fa-code"></i></a>
			</div>
			<div class="skillz">
				Sinatra, graph search algorithm
			</div>
		</div>
	</div>

	<div class="project">
		<a href = "http://magic-eight-ball.herokuapp.com/" target="_blank">
			<div class="iconz">
				<i class="fa fa-circle fa-2x right_space top_space"></i>
			</div>
			<div class="titlez">
				Magic 8-Ball
			</div>
		</a>
		<div class="downarrow"><i class="fa fa-angle-double-down fa-2x"></i></div>
		<div class="descriptionz">
			<div class="github">
				<a class="code" href ="https://github.com/kthffmn/magic_8_ball"><i class="fa fa-code"></i></a>
			</div>
			<div class="skillz">
				Sinatra, pure CSS graphics, jQuery
			</div>
		</div>
	</div>

	<div class="project">
		<a href = "http://palindromefinder.herokuapp.com/" target="_blank">
			<div class="iconz">
				<i class="fa fa-search fa-2x right_space top_space"></i>
			</div>
			<div class="titlez">
				Palindrome Finder
			</div>
		</a>
		<div class="downarrow"><i class="fa fa-angle-double-down fa-2x"></i></div>
		<div class="descriptionz">
			<div class="github">
				<a class="code" href ="https://github.com/kthffmn/palindrome_finder"><i class="fa fa-code"></i></a>
			</div>
			<div class="skillz">
				Sinatra, smart logic
			</div>
		</div>
	</div>

	<div class="project">
		<a href = "http://buzzfeed-generator.herokuapp.com/" target="_blank">
			<div class="iconz">
				<i class="fa fa-coffee fa-2x right_space top_space"></i>
			</div>
			<div class="titlez">
				Buzzfeed Ouroboros
			</div>
		</a>
		<div class="downarrow"><i class="fa fa-angle-double-down fa-2x"></i></div>
		<div class="descriptionz">
			<div class="github">
				<a class="code" href ="https://github.com/kthffmn/buzzfeed"><i class="fa fa-code"></i></a>
			</div>
			<div class="skillz">
				Sinatra, Nokogiri crawler, Markov Chain Algorithm
			</div>
		</div>
	</div>

</div> <!-- end project rectangle -->