<div class="loveontop">
	<div class="katieyo lobster">
		<h1>Katie Hoffman</h1>
	</div>
	<div class="links white">
		<a href = "http://github.com/kthffmn" target="_blank"><i class="fa fa-github-square fa-1x right_space top_space"></i></a>
		<a href = "http://www.linkedin.com/in/kthffmn/" target="_blank"><i class="fa fa-linkedin-square fa-1x right_space top_space"></i></a>
		<a href = "http://flatironbk.tumblr.com/" target="_blank"><i class="fa fa-tumblr-square fa-1x right_space top_space"></i></a>
		<a href = "http://twitter.com/kt_hffmn/" target="_blank"><i class="fa fa-twitter-square fa-1x right_space top_space"></i></a>
		<a href = "http://instagram.com/kt_hffmn/" target="_blank"><i class="fa fa-instagram fa-1x right_space top_space"></i></a>
		<a href = "mailto:ktahoffman@gmail.com.info?subject=Hello!" target="_blank"><i class="fa fa-envelope fa-1x right_space top_space"></i></a>
	</div>
</div>

<div class="about rectangle">
	<h2 class="headerz lobster">About</h2>
	<p>I'm a <a href="http://bk.flatironschool.com/">Web Development Fellow</a> at <a href="http://flatironschool.com/">The Flatiron School</a> where I'm studying Ruby, Rails, Sinatra, and Javascript. My background is in early childhood education and I hold a BA in psychology from Columbia University. Though Brooklyn-based, I hail from Denver, CO and accidentally refer to the region as the west coast, instead of the west, because words just sound better when “coast” follows themcoast.</p>
</div>

<div class="projects rectangle">
	<h2 class="headerz lobster">Projects<h2>

	<div class="project">
	<a href = "http://twidder-app.com" target="_blank">
		<i class="fa fa-music fa-2x right_space top_space"></i>
	</a>
	<a href = "http://twidder-app.com">Twidder</a>
	</div>

	<div class="project">
	<a href = "http://betagovnyc.herokuapp.com/timeline" target="_blank">
		<i class="fa fa-music fa-2x right_space top_space"></i>
	</a>
	<a href = "http://betagovnyc.herokuapp.com/timeline">NYC Open Government Timeline</a>
	</div>

	<div class="project">
	<a href = "http://kthffmn.github.io/sphearical/" target="_blank">
		<i class="fa fa-music fa-2x right_space top_space"></i>
	</a>
	<a href = "http://kthffmn.github.io/sphearical/">Sphearical</a>
	</div>

	<div class="project">
		<a href = "http://twidder.herokuapp.com/" target="_blank">
			<i class="fa fa-pencil fa-2x right_space top_space"></i>
		</a>
		<a href = "http://twidder.herokuapp.com/">Twidderp</a>
	</div>

	<div class="project">
		<a href = "http://game-0f-life.herokuapp.com/" target="_blank">
			<i class="fa fa-bug fa-2x right_space top_space"></i>
		</a>
		<a href = "http://game-0f-life.herokuapp.com/">Game of Life</a>
	</div>

	<div class="project">
		<a href = "http://game-rock-paper-scissors.herokuapp.com/play.html" target="_blank">
			<i class="fa fa-scissors fa-2x right_space top_space"></i>
		</a>
		<a href = "http://game-rock-paper-scissors.herokuapp.com/play.html">
			Rock Paper Scissors
		</a>
	</div>

	<div class="project">
		<a href = "http://birthday-calculator.herokuapp.com/" target="_blank">
			<i class="fa fa-calendar-o fa-2x right_space top_space"></i>
		</a>
		<a href = "http://birthday-calculator.herokuapp.com/">Birthday Calculator</a>
	</div>

	<div class="project">
		<a href = "http://pig-latin-translator.herokuapp.com/" target="_blank"><i class="fa fa-book fa-2x right_space top_space"></i></a>
		<a href = "http://pig-latin-translator.herokuapp.com/">Pig Latin Translator</a>
	</div>

	<div class="project">
		<a href = "http://mazesolver.herokuapp.com/" target="_blank"><i class="fa fa-key fa-2x right_space top_space"></i></a>
		<a href = "http://mazesolver.herokuapp.com/">Maze Solver</a>
	</div>

	<div class="project">
		<a href = "http://magic-eight-ball.herokuapp.com/" target="_blank"><i class="fa fa-circle fa-2x right_space top_space"></i></a>
		<a href = "http://magic-eight-ball.herokuapp.com/">Magic 8-Ball</a>
	</div>

	<div class="project">
		<a href = "http://palindromefinder.herokuapp.com/" target="_blank"><i class="fa fa-search fa-2x right_space top_space"></i></a>
		<a href = "http://palindromefinder.herokuapp.com/">Palindrome Finder</a>
	</div>

	<div class="project">
		<a href = "http://jb-memory-game.herokuapp.com/" target="_blank">
			<i class="fa fa-lightbulb-o fa-2x right_space top_space"></i>
		</a>
		<a href = "http://jb-memory-game.herokuapp.com/">Memory Game</a>
	</div>
</div>