<div class=header>
	<h1>Katie Hoffman</h1>
</div>

<div class=links>
	<span>
		<a href = "http://github.com/kthffmn" target="_blank"><i class="fa fa-github-square fa-2x right_space top_space"></i></a>
		<a href = "http://www.linkedin.com/in/kthffmn/" target="_blank"><i class="fa fa-linkedin-square fa-2x right_space top_space"></i></a>
		<a href = "http://flatironbk.tumblr.com/" target="_blank"><i class="fa fa-tumblr-square fa-2x right_space top_space"></i></a>
		<a href = "http://twitter.com/kt_hffmn/" target="_blank"><i class="fa fa-twitter-square fa-2x right_space top_space"></i></a>
		<a href = "http://instagram.com/kt_hffmn/" target="_blank"><i class="fa fa-instagram fa-2x right_space top_space"></i></a>
		<a href = "mailto:ktahoffman@gmail.com.info?subject=Hello!" target="_blank"><i class="fa fa-envelope fa-2x right_space top_space"></i></a>
	</span>	
</div>

<div class=about>
	<p>I'm a <a href="http://bk.flatironschool.com/">Web Development Fellow</a> at <a href="http://flatironschool.com/">The Flatiron School</a> where I'm studying Ruby, Rails, Sinatra, and Javascript. My background is in early childhood education and I hold a BA in psychology from Columbia University. I also also studied <a href="http://kthffmn.tumblr.com/">acting/comedy</a> and at Atlantic Evening Conservatory, The Magnet, HB Studio, and Upright Citizens Brigade.</p>
</div>

<div class=projects>
	<div calss=project-header>
		<p>Projects<p>
	</div>
	<span>
	<table>
		<tr>
			<td><a href = "http://game-0f-life.herokuapp.com/" target="_blank"><i class="fa fa-bug fa-2x right_space top_space"></i></a></td>
			<td><a href = "http://game-rock-paper-scissors.herokuapp.com/play.html" target="_blank"><i class="fa fa-scissors fa-2x right_space top_space"></i></a></td>
			<td><a href = "http://the-bumbys-generator.herokuapp.com/" target="_blank"><i class="fa fa-pencil fa-2x right_space top_space"></i></a></td>
			<td><a href = "http://birthday-calculator.herokuapp.com/" target="_blank"><i class="fa fa-calendar-o fa-2x right_space top_space"></i></a></td>
			<td><a href = "http://pig-latin-translator.herokuapp.com/" target="_blank"><i class="fa fa-book fa-2x right_space top_space"></i></a></td>
			<td><a href = "http://magic-eight-ball.herokuapp.com/" target="_blank"><i class="fa fa-circle fa-2x right_space top_space"></i></a></td>
		</tr>
		<tr>
			<td>Game of Life</td>
			<td>Rock Paper Scissors</td>
			<td>The Bumbys Generator</td>
			<td>Birthday Calculator</td>
			<td>Pig Latin Translator</td>
			<td>Magic 8-Ball</td>
		</tr>
	</table>
	</span>
</div>