@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
	color: white;
	background-color: #568EA9;
	font-size: 1.5em;
	line-height: 1.4em;
}

h1 {
	text-align: center;
	font-family: 'Lobster', serif;
	color: white;
	background-color: #568EA9;
}

.blue>i { color: #568EA9; }

.white>i { color: white; }

.links {
	background-color: #568EA9;
	text-align: center;
}

.about {
	background-color: white;
	color: #568EA9;
}

.projects {
	background-color: white;
	color: #568EA9;
	text-align: center;
}

p {
	margin-top: 5%;
	margin-bottom: 5%;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;;
	text-align: center;
}